<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8"/>
    <title>Manage flights</title>
</head>
<body ng-app="flightApp">
<div ng-controller="FlightController as flightCtrl">
    <h1>Manage flights</h1>
    <form name="flightForm" method="POST">
        <table>
            <tr>
                <td colspan="2">
                    <div ng-if="flightCtrl.flag != 'edit'">
                        <h3> Add New Flight </h3>
                    </div>
                    <div ng-if="flightCtrl.flag == 'edit'">
                        <h3> Update Flight for ID: {{ flightCtrl.flight.uid }} </h3>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Flight number:</td>
                <td><input type="text" name="firstName" ng-model="flightCtrl.flight.firstName" required/>
                    <span ng-show="flightForm.firstName.$error.required" class="msg-val">Flight number is required.</span>
                </td>
            </tr>
            <tr>
                <td>Airplane type:</td>
                <td><input type="text" name="lastName" ng-model="flightCtrl.flight.lastName" required/>
                    <span ng-show="flightForm.lastName.$error.required" class="msg-val">Airplane type is required.</span></td>
            </tr>
            <tr>
                <td>Departure city:</td>
                <td><select  ng-model='data.selected' ng-options='item in cities' name="cities" required>
                </select></td>
            </tr>
            <tr>
                <td>Departure time:</td>
                <td><input type="password" name="password" ng-model="flightCtrl.flight.password" required/>
                    <span ng-show="flightForm.password.$error.required" class="msg-val">Departure time is required.</span></td>
            </tr>
            <tr>
                <td>Arrival city:</td>
                <td><select name="role" ng-model="flightCtrl.flight.role" required>
                </select></td>
            </tr>
            <tr>
                <td>Arrival time:</td>
                <td><input type="password" name="password" ng-model="flightCtrl.flight.password" required/>
                    <span ng-show="flightForm.password.$error.required" class="msg-val">Arrival time is required.</span></td>
            </tr>
            <tr>
                <td colspan="2"><span ng-if="flightCtrl.flag=='created'"
                                      class="msg-success">Flight successfully added.</span>
                    <span ng-if="flightCtrl.flag=='failed'" class="msg-val">Flight already exists.</span></td>
            </tr>
            <tr>
                <td colspan="2">
                    <div ng-if="flightCtrl.flag != 'edit'">
                        <input type="submit" ng-click="flightCtrl.addFlight()" value="Add Flight"/>
                        <input type="button" ng-click="flightCtrl.reset()" value="Reset"/>
                    </div>
                    <div ng-if="flightCtrl.flag == 'edit'">
                        <input type="submit" ng-click="flightCtrl.updateFlightDetail()" value="Update Flight"/>
                        <input type="button" ng-click="flightCtrl.cancelUpdate()" value="Cancel"/>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2"><span ng-if="flightCtrl.flag=='deleted'"
                                      class="msg-success">Flight successfully deleted.</span>
            </tr>
        </table>
    </form>
    <table>
        <tr>
            <th>ID</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Flightname</th>
        </tr>
        <tr ng-repeat="row in flightCtrl.flights">
            <td><span ng-bind="row.id"></span></td>
            <td><span ng-bind="row.firstName"></span></td>
            <td><span ng-bind="row.lastName"></span></td>
            <td><span ng-bind="row.flightname"></span></td>
            <td>
                <input type="button" ng-click="flightCtrl.deleteFlight(row.uid)" value="Delete"/>
                <input type="button" ng-click="flightCtrl.editFlight(row.uid)" value="Edit"/>
                <span ng-if="flightCtrl.flag=='updated' && row.uid==flightCtrl.updatedId" class="msg-success">Flight successfully updated.</span>
            </td>
        </tr>
    </table>
</div>
<script src="/resources/static/js/lib/angular.min.js"></script>
<script src="/resources/static/js/lib/angular-resource.min.js"></script>
<script src="/resources/static/js/app.js"></script>
<link rel="stylesheet" type="text/css" href="/resources/static/css/bootstrap.css"/>
<link rel="stylesheet" type="text/css" href="/resources/static/css/style.css"/>
<link rel="stylesheet" type="text/css" href="/resources/static/css/app.css"/>
</body>
</html>
