<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="UTF-8"/>
        <title>Login</title>
    </head>
    <body ng-app="flightApp">
    <div ng-controller="LoginController as loginCtrl">
        <h1>Login</h1>
        <form name="loginForm" method="POST">
            <table>
                <tr>
                    <td>Username:</td>
                    <td><input type="text" name="username" ng-model="loginCtrl.username" required/>
                        <span ng-show="userForm.username.$error.required" class="msg-val">Username is required.</span></td>
                </tr>
                <tr>
                    <td>Password:</td>
                    <td><input type="password" name="password" ng-model="loginCtrl.password" required/>
                        <span ng-show="userForm.password.$error.required" class="msg-val">Password is required.</span></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div>
                            <input type="submit" ng-click="loginCtrl.login()" value="Login"/>
                        </div>
                    </td>
                </tr>
            </table>
        </form>
    </div>
    <script src="/resources/static/js/lib/angular.min.js"></script>
    <script src="/resources/static/js/lib/angular-resource.min.js"></script>
    <script src="/resources/static/js/app.js"></script>
    <link rel="stylesheet" type="text/css" href="/resources/static/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="/resources/static/css/style.css"/>
    <link rel="stylesheet" type="text/css" href="/resources/static/css/app.css"/>
    </body>
</html>  
  