<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8"/>
    <title>Manage users</title>
</head>
<body ng-app="flightApp">
<div ng-controller="UserController as userCtrl">
    <h1>Create new user</h1>
    <form name="userForm" method="POST">
        <table>
            <tr>
                <td colspan="2">
                    <div ng-if="userCtrl.flag != 'edit'">
                        <h3> Add New User </h3>
                    </div>
                    <div ng-if="userCtrl.flag == 'edit'">
                        <h3> Update User for ID: {{ userCtrl.user.uid }} </h3>
                    </div>
                </td>
            </tr>
            <tr>
                <td>First name:</td>
                <td><input type="text" name="firstName" ng-model="userCtrl.user.firstName" required/>
                    <span ng-show="userForm.firstName.$error.required" class="msg-val">First name is required.</span>
                </td>
            </tr>
            <tr>
                <td>Last name:</td>
                <td><input type="text" name="lastName" ng-model="userCtrl.user.lastName" required/>
                    <span ng-show="userForm.lastName.$error.required" class="msg-val">Last name is required.</span></td>
            </tr>
            <tr>
                <td>Username:</td>
                <td><input type="text" name="username" ng-model="userCtrl.user.username" required/>
                    <span ng-show="userForm.username.$error.required" class="msg-val">Username is required.</span></td>
            </tr>
            <tr>
                <td>Password:</td>
                <td><input type="password" name="password" ng-model="userCtrl.user.password" required/>
                    <span ng-show="userForm.password.$error.required" class="msg-val">Password is required.</span></td>
            </tr>
            <tr>
                <td>User role:</td>
                <td><select name="role" ng-model="userCtrl.user.role" required>
                    <option id="client" value="CLIENT">Client</option>
                    <option id="admin" value="ADMIN">Admin</option>
                </select></td>
            </tr>
            <tr>
                <td colspan="2"><span ng-if="userCtrl.flag=='created'"
                                      class="msg-success">User successfully added.</span>
                    <span ng-if="userCtrl.flag=='failed'" class="msg-val">User already exists.</span></td>
            </tr>
            <tr>
                <td colspan="2">
                    <div ng-if="userCtrl.flag != 'edit'">
                        <input type="submit" ng-click="userCtrl.addUser()" value="Add User"/>
                        <input type="button" ng-click="userCtrl.reset()" value="Reset"/>
                    </div>
                    <div ng-if="userCtrl.flag == 'edit'">
                        <input type="submit" ng-click="userCtrl.updateUserDetail()" value="Update User"/>
                        <input type="button" ng-click="userCtrl.cancelUpdate()" value="Cancel"/>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2"><span ng-if="userCtrl.flag=='deleted'"
                                      class="msg-success">User successfully deleted.</span>
            </tr>
        </table>
    </form>
    <table>
        <tr>
            <th>ID</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Username</th>
        </tr>
        <tr ng-repeat="row in userCtrl.users">
            <td><span ng-bind="row.id"></span></td>
            <td><span ng-bind="row.firstName"></span></td>
            <td><span ng-bind="row.lastName"></span></td>
            <td><span ng-bind="row.username"></span></td>
            <td>
                <input type="button" ng-click="userCtrl.deleteUser(row.uid)" value="Delete"/>
                <input type="button" ng-click="userCtrl.editUser(row.uid)" value="Edit"/>
                <span ng-if="userCtrl.flag=='updated' && row.uid==userCtrl.updatedId" class="msg-success">User successfully updated.</span>
            </td>
        </tr>
    </table>
</div>
<script src="/resources/static/js/lib/angular.min.js"></script>
<script src="/resources/static/js/lib/angular-resource.min.js"></script>
<script src="/resources/static/js/app.js"></script>
<link rel="stylesheet" type="text/css" href="/resources/static/css/bootstrap.css"/>
<link rel="stylesheet" type="text/css" href="/resources/static/css/style.css"/>
<link rel="stylesheet" type="text/css" href="/resources/static/css/app.css"/>
</body>
</html>
